.upload-container {
    background: var(--bg-dark);
    height: var(--content-height);
    color: var(--headers-light);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    @media (max-width: 1000px) {
        padding-top: 5vh;
        height: fit-content;
        padding-left: 28px;
        padding-right: 28px;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 40vw;

        button {
            width: fit-content;
        }
    }
    
    ::ng-deep .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
        background-color: var(--beige-bg) !important;
    }

    ::ng-deep .mat-mdc-unelevated-button:not(:disabled) {
        background-color: var(--beige-bg) !important;
        border-radius: 24px !important;
    }

    .upload-btn {
        display: flex;
        justify-content: center;

        div {
            width: 200px;
            display: flex;
            justify-content: space-between;
        }
    }
}

h2 {
    color: var(--beige-bg);
    font-weight: 700;
    margin-top: 10vh;
}