.upload-container {
    background: var(--bg-dark);
    height: var(--content-height);
    color: var(--headers-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        width: 40vw;

        button {
            width: fit-content;
        }
    }
    
    ::ng-deep .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
        background-color: var(--beige-bg) !important;
    }

    ::ng-deep .mat-mdc-unelevated-button:not(:disabled) {
        background-color: var(--beige-bg) !important;
        border-radius: 24px !important;
    }

    .upload-btn {
        display: flex;
        justify-content: center;

        div {
            width: 200px;
            display: flex;
            justify-content: space-between;
        }
    }
}