.div-container {
    height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
}

.category-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 10vw;
    max-width: 200px;
    color: var(--beige-bg);

    p {
        margin: 0;
        color: white;
    }
}

.isDeletedColor {
    color: #838386 !important;
}

.set-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settings-content {
    width: 35vw;
    height: inherit;
}

.div-width {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50vw;
    height: 72vh;
    margin-top: 5vh;
}

.settings-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

h2 {
    color: var(--beige-bg);
    font-weight: 700;
    margin-top: 2vh;
}

.settings-content {
    width: 35vw;
    height: inherit;
}