.div-container {
    height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
}

.category-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 10vw;
    max-width: 200px;
    color: var(--beige-bg);

    p {
        margin: 0;
        color: white;
    }
}

.isDeletedColor {
    color: #838386 !important;
}