.settings-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.div-width {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50vw;
    height: 72vh;
    margin-top: 5vh;
}

.settings-content {
    width: 35vw;
    height: inherit;
}

h2 {
    color: var(--beige-bg);
    font-weight: 700;
    margin-top: 2vh;
}

.set-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-box {
    display: flex;
    flex-direction: column;
    height: 34vh;
    justify-content: space-around;
}

::ng-deep .mat-mdc-unelevated-button:not(:disabled) {
    background-color: var(--beige-bg) !important;
}

::ng-deep .mat-drawer-container {
    height: 70vh !important;
}

::ng-deep .mat-drawer-content {
    width: 60vw !important;
}

::ng-deep .mat-drawer {
    background-color: var(--beige-bg) !important;
}

.border-btn {
    border: 2px solid white;
    border-image: repeating-linear-gradient(45deg, transparent, transparent 1px, white 12px, white 1px, transparent 6px, transparent 12px) 1;
}