.menu-box {
    display: flex;
    flex-direction: column;
    height: 34vh;
    justify-content: space-around;
    width: fit-content;
}

::ng-deep .mat-mdc-unelevated-button:not(:disabled) {
    background-color: var(--beige-bg) !important;
}

::ng-deep .mat-drawer-container {
    height: 70vh !important;
}

::ng-deep .mat-drawer-content {
    width: 60vw !important;
}

::ng-deep .mat-drawer {
    background-color: var(--beige-bg) !important;
}

.border-btn {
    background-color: var(--flix-red) !important;
}