<app-navigation></app-navigation>

<div class="main-container settings-container">
    <div class="div-width">
        <div class="menu-box">
            <button mat-flat-button color="warn" (click)="userSettings = true; uploadSettings = false; categoriesSettings = false;">
                <mat-icon>settings</mat-icon> User</button>
            <button mat-flat-button color="warn" (click)="userSettings = false; uploadSettings = true; categoriesSettings = false;">
                <mat-icon>settings</mat-icon> Uploads</button>
            <button mat-flat-button color="warn" (click)="userSettings = false; uploadSettings = false; categoriesSettings = true;">
                <mat-icon>settings</mat-icon> Categories</button>
        </div>

        <div class="settings-content">
            @if (userSettings) {
                <app-user-settings></app-user-settings>
            }

            @if (uploadSettings) {
                <app-uploads-settings></app-uploads-settings>
            }

            @if (categoriesSettings) {
                <app-categories-settings></app-categories-settings>
            }
            
        </div>
    </div>
</div>