<app-navigation></app-navigation>

<div class="main-container settings-container">
    <div class="div-width">
        <div>
            <app-settings></app-settings>
        </div>
        
        <div class="set-div">
            @if (showContent) {
                <h2>Upload Information</h2>
                <div class="settings-content">
                    <div class="div-container">
                        @if (uploadData.length >= 1) {
                            @for (upload of uploadData; track upload.id) {
                            <div class="upload-div">
                                <button mat-icon-button (click)="deleteVideoFromDB(upload)" [disabled]="checkValues(upload.id)"
                                    matTooltip="delete">
                                    <mat-icon>close</mat-icon>
                                </button>

                                <img src='{{ "https://backend.anastasiia-uenal.de" + upload.cover_picture }}'>
                                <div [class.isDeletedColor]="checkValues(upload.id)">
                                    <p>{{ upload.title }}</p>
                                    <p>Upload at {{ upload.created_at }}</p>
                                </div>

                                <div class="hide-box" [class.isDeleted]="checkValues(upload.id)">deleted</div>
                            </div>
                            }
                        } @else {
                            <div class="empty-div">
                                <p>Make your first upload...</p>

                                <button mat-fab color="warn" (click)="shared.navigateTo('/upload')">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        }

                    </div>
                </div>
            } @else {
                <div class="loading-box">
                    <app-loading-spinner></app-loading-spinner>
                </div>
            }
        </div>
    </div>
</div>