.login-container {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    filter: brightness(.4);
    height: 100%;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.info-box {
    position: absolute;
    bottom: 42px;
    left: 42px;
}

.login-card {
    width: max-content;
    height: max-content;
    border-radius: 24px;
    padding: 48px;
    background: #b00810b8;

    @media (max-width: 500px) {
        padding: 18px;
    }
}

::ng-deep .mat-mdc-card-content {
    padding: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.first-p {
    margin-top: 18px;
    border-top: 1px solid #c3c0c0;
    padding-top: 18px;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    color: var(--beige-bg);
    font-size: 28px;
    font-weight: 700;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #9b5656 !important;
    width: 300px !important;

    @media (max-width: 500px) {
        width: 250px !important;
    }

    @media (max-width: 350px) {
        width: 220px !important;
    }
}

.logo-box {
    position: absolute;
    top: 24px;
    right: 24px;

    h1 {
        font-size: 58px;
        font-weight: 800;
        margin: 0;
        margin-top: 18px;
        letter-spacing: -8px;
        color: var(--flix-red);
        -webkit-text-stroke: 0.5px white;
        filter: drop-shadow(3px 0px 2px #ffffff);
    }
}

.btn-m-6 {
    margin-top: -6px;
}

.error {
    color: #502085;
    font-size: 18px;
    font-weight: 700;
}

.form-div {
    display: flex;

    div {
        &:first-child {
            margin-right: 24px;
        }
    }

    @media (max-width: 800px) {
        flex-direction: column;
        height: 36vh;
        overflow-y: auto;
    }
}