<img src="/../assets/img/bg.jpg">
<div class="login-container">
    <div class="logo-box">
        <h1>Videoflix</h1>
    </div>

    <mat-card class="login-card">
        <h2>Register</h2>
        <mat-card-content>
            <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
                <div class="form-div">
                    <div>
                        <p>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Username" required autocomplete="off"
                                    formControlName="username">
                            </mat-form-field>
                        </p>
        
                        <p>
                            <mat-form-field>
                                <input type="text" matInput placeholder="First Name" required autocomplete="off"
                                    formControlName="first_name">
                            </mat-form-field>
                        </p>
        
                        <p>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Last Name" required autocomplete="off"
                                    formControlName="last_name">
                            </mat-form-field>
                        </p>
                    </div>
    
                    <div>
                        <p>
                            <mat-form-field>
                                <input type="text" matInput placeholder="E-Mail" formControlName="email" required
                                    autocomplete="off">
                                <mat-hint>xxx&#64;gmail.com</mat-hint>
                            </mat-form-field>
                        </p>
        
                        <p>
                            <mat-form-field>
                                <input type="password" matInput placeholder="Password" formControlName="password" required
                                    autocomplete="off">
                                <mat-hint>min. 8 symbols</mat-hint>
                            </mat-form-field>
                        </p>
        
                        <p>
                            <mat-form-field>
                                <input type="password" matInput placeholder="Repeat Password" formControlName="password_repeat" required
                                    autocomplete="off">
                                <mat-hint>min. 8 symbols</mat-hint>
                            </mat-form-field>
                        </p>
        
                    </div>
                </div>

                @if (error) {
                    <p>
                        {{ error | json }}
                    </p>
                }

                <div>
                    <button
                        [disabled]="!this.formReg.controls['username'].value || !this.formReg.controls['email'].value || !this.formReg.controls['password'].value
                        || !this.formReg.controls['password_repeat'].value || !this.formReg.controls['first_name'].value || !this.formReg.controls['last_name'].value"
                        type="submit" mat-raised-button color="warn">Sign up</button>
                </div>
            </form>
        </mat-card-content>

        <p class="first-p">
            <label> Have an account?
                <button mat-button (click)="shared.navigateTo('/login')" class="btn-m-6">Sign in</button>
            </label>
        </p>
    </mat-card>

    <app-footer></app-footer>
</div>