<div>
    <table class="alp-table">
        <tbody>
            <tr *ngFor="let row of alphabet | chunk: 6">
                <td class="alp-row" *ngFor="let column of row">
                    <div (click)="getSearchValue(column)">
                        {{ column.toUpperCase() }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="btn-box">
        <button mat-icon-button (click)="addSpaceToValue()" matTooltip="add space">
            <mat-icon>space_bar</mat-icon>
        </button>

        <button mat-icon-button (click)="removeElementFromValue()" matTooltip="delete last element">
            <mat-icon>backspace</mat-icon>
        </button>

        <button mat-icon-button (click)="deleteValue()" matTooltip="delete search input">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>