.alp-table {
    margin-left: 6px;
    margin-top: 50px;
    color: white;
}
    
.alp-table thead th {
    text-align: center;
    border: 2px solid #dee2e6;
}

.alp-table td {
    border: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

.alp-table th {
    border-right: 1px solid #dee2e6;
}

.alp-table td,
.alp-table th {
    padding: 4px;
    vertical-align: center;
    text-align: center;
}

.alp-row {
    height: 34px;
    max-height: 34px;
    width: 34px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;

    &:hover {
        transform: scale(1.1);
    }

    div {
        font-weight: 600;
        font-size: 20px;
    }
}

.btn-box {
    display: flex;
    justify-content: center;
}