<img src="/../assets/img/bg.jpg">
<div class="login-container">
    <div class="logo-box">
        <h1>Videoflix</h1>
    </div>

    <mat-card class="login-card">
        <h2>Login</h2>
        <mat-card-content>
            <form>
                <mat-form-field>
                    <input type="text" matInput placeholder="Username" name="username" [(ngModel)]="username" required
                        autocomplete="off">
                </mat-form-field>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="password" required
                        autocomplete="off">
                </mat-form-field>

                @if (error) {
                    <p class="error">
                        {{ error }}
                    </p>
                }

                <button mat-stroked-button (click)="login()">
                    Sign in
                </button>
            </form>
        </mat-card-content>

        <!-- <p class="first-p">
            <label> Just looking?
                <button mat-button (click)="guestLogin()" class="btn-m-6">Login as Guest</button>
            </label>
        </p> -->

        <p style="margin-top: 24px;">
            <label> Don't have an account?
                <button mat-button (click)="shared.navigateTo('/register')" class="btn-m-6">Sign up</button>
            </label>
        </p>

        <p>
            <label> Forgot your password?
                <button mat-button (click)="openEmailDialog()" class="btn-m-6">Reset password</button>
            </label>
        </p>
    </mat-card>

    <app-footer></app-footer>
</div>