<div>
    <table class="alp-table">
        @if (showAlphabet) {
            <tbody>
                <tr *ngFor="let row of alphabet | chunk: 5">
                    <td class="alp-row" *ngFor="let column of row">
                        <div (click)="getSearchValue(column)">
                            {{ column.toUpperCase() }}
                        </div>
                    </td>
                </tr>
            </tbody>
        } @else {
            <tbody>
                <tr *ngFor="let row of symbols | chunk: 5">
                    <td class="alp-row" *ngFor="let column of row">
                        <div (click)="getSearchValue(column)">
                            {{ column }}
                        </div>
                    </td>
                </tr>
            </tbody>
        }
    </table>

    <div class="btn-box">
        @if (showAlphabet) {
            <button mat-icon-button (click)="showNumberKeyboard()" matTooltip="numbers and symbols">
                <mat-icon>pin</mat-icon>
            </button>
        } @else {
            <button mat-icon-button (click)="showAlphabetKeyboard()" matTooltip="alphabet">
                <mat-icon>abc</mat-icon>
            </button>
        }

        <button mat-icon-button (click)="addSpaceToValue()" matTooltip="add space">
            <mat-icon>space_bar</mat-icon>
        </button>

        <button mat-icon-button (click)="removeElementFromValue()" matTooltip="delete last element">
            <mat-icon>backspace</mat-icon>
        </button>

        <button mat-icon-button (click)="deleteValue()" matTooltip="delete search input">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>