<div class="slider-container">
    <div class="next-last-cover-140 ml-last-40 pos-rel opacity-4">
        <img class="img-slideshow next-cover-rotate" src='{{ "http://35.240.85.214" + videos[coverIndex[0]].cover_picture }}'
        (click)="openVideoOverview(videos[coverIndex[0]])">
    </div>

    <div class="next-last-cover pos-rel opacity-9">
        <img class="img-slideshow next-cover-rotate" src='{{ "http://35.240.85.214" + videos[coverIndex[1]].cover_picture }}'
        (click)="openVideoOverview(videos[coverIndex[1]])">
    </div>
    <div class="pos-rel">
        <img class="img-slideshow" src='{{ "http://35.240.85.214" + videos[coverIndex[2]].cover_picture }}'
        (click)="openVideoOverview(videos[coverIndex[2]])">
        <div class="current-title-pos">
            <p>{{ videos[coverIndex[2]].title }}</p>
            <button mat-fab extended color="warn" (click)="openVideoOverview(videos[coverIndex[2]])">
                <mat-icon>play_arrow</mat-icon>
                Watch
            </button>
            @if (!listExist) {
                <button mat-fab extended style="background: yellow; color: black" matTooltip="My List" (click)="addVideoToMyList(videos[coverIndex[2]].id)">
                    <mat-icon>add_circle</mat-icon>
                    Add List
                </button>
            } @else {
                <button mat-fab extended style="background: yellow; color: black" matTooltip="My List" (click)="removeVideoFromMyList(videos[coverIndex[2]].id)">
                    <mat-icon>remove</mat-icon>
                    Remove List
                </button>
            }
        </div>
    </div>

    <div class="next-last-cover ml-last pos-rel zindex opacity-9">
        <img class="img-slideshow last-cover-rotate" src='{{ "http://35.240.85.214" + videos[coverIndex[3]].cover_picture }}'
        (click)="openVideoOverview(videos[coverIndex[3]])">
    </div>

    <div class="next-last-cover ml-last-200 pos-rel opacity-4">
        <img class="img-slideshow last-cover-rotate" src='{{ "http://35.240.85.214" + videos[coverIndex[4]].cover_picture }}'
        (click)="openVideoOverview(videos[coverIndex[4]])">
    </div>
</div>
