<div class="slider-container">
    <div class="next-last-cover-140 ml-last-40 pos-rel">
        <img class="img-slideshow next-cover-rotate" src='{{ "http://127.0.0.1:8000" + videos[coverIndex[0]].cover_picture }}'>
    </div>

    <div class="next-last-cover pos-rel">
        <img class="img-slideshow next-cover-rotate" src='{{ "http://127.0.0.1:8000" + videos[coverIndex[1]].cover_picture }}'>
        <p class="title-pos next-cover-rotate">{{ videos[coverIndex[1]].title }}</p>
    </div>
    <div class="pos-rel">
        <img class="img-slideshow" src='{{ "http://127.0.0.1:8000" + videos[coverIndex[2]].cover_picture }}'>
        <div class="current-title-pos">
            <p>{{ videos[coverIndex[2]].title }}</p>
            <button mat-fab extended color="warn">
                <mat-icon>play_arrow</mat-icon>
                Watch
            </button>
            <button mat-fab extended style="background: yellow;">
                <mat-icon>add_circle</mat-icon>
                Add List
            </button>
        </div>
    </div>

    <div class="next-last-cover ml-last pos-rel zindex">
        <img class="img-slideshow last-cover-rotate" src='{{ "http://127.0.0.1:8000" + videos[coverIndex[3]].cover_picture }}'>
        <p class="title-pos last-cover-rotate">{{ videos[coverIndex[3]].title }}</p>
    </div>

    <div class="next-last-cover ml-last-200 pos-rel">
        <img class="img-slideshow last-cover-rotate" src='{{ "http://127.0.0.1:8000" + videos[coverIndex[4]].cover_picture }}'>
    </div>
</div>
