.slider-container {
    display: flex;
    justify-content: center;
}

.img-slideshow {
    width: 400px;
    object-fit: cover;
    border-radius: 24px;
}

.next-cover-rotate {
    transform: perspective(100vw) rotateY(50deg) scale(1) rotateX(0deg);
}

.next-last-cover {
    width: 350px;
}

.last-cover-rotate {
    transform: perspective(100vw) rotateY(-50deg) scale(1) rotateX(0deg);
}

.ml-last {
    margin-left: -56px;
}

.pos-rel {
    position: relative;
}

.title-pos {
    position: absolute;
    bottom: 30px;
    right: 100px;
    color: white;
    font-size: 32px;
    font-weight: 600;
    background: #ffffff2e;
    padding: 4px;
    border-radius: 24px;
}

.current-title-pos {
    position: absolute;
    bottom: 30px;
    right: 150px;

    p {
        color: white;
        font-size: 42px;
        font-weight: 600;
        background: #ffffff2e;
        padding: 12px;
        border-radius: 24px;
        width: fit-content;
    }

    button {
        width: fit-content;
        height: fit-content;
        padding-left: 4px;
        padding-right: 8px;
        margin-right: 12px;
        font-weight: 600;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        mat-icon {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}

.out-animation {
    animation: out 5s ease 1s forwards 1;
}

@keyframes in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes out {
    from {opacity: 1;}
    to {opacity: 0.5;}
}