.slider-container {
    display: flex;
    justify-content: center;
    // width: 80%;
}

.img-slideshow {
    width: 400px;
    height: 210px;
    object-fit: cover;
    border-radius: 24px;
    box-shadow: rgb(255 255 255 / 25%) 0px 50px 100px -20px, 
    rgb(52 52 52 / 30%) 0px 30px 60px -30px, 
    rgb(245 245 245 / 35%) 0px -2px 6px 0px inset;
    cursor: pointer;
}

.next-cover-rotate {
    transform: perspective(100vw) rotateY(50deg) scale(1) rotateX(0deg);
}

.next-last-cover {
    width: 350px;
}

.next-last-cover-140 {
    width: 140px;
}

.last-cover-rotate {
    transform: perspective(100vw) rotateY(-50deg) scale(1) rotateX(0deg);
}

.ml-last {
    margin-left: -44px;
}

.ml-last-40 {
    margin-left: -40px;
}

.ml-last-200 {
    margin-left: -200px;
}

.zindex {
    z-index: 1;
}

.title-pos {
    position: absolute;
    bottom: 30px;
    right: 100px;
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.current-title-pos {
    position: absolute;
    bottom: 30px;
    left: 20px;

    p {
        color: white;
        font-size: 42px;
        font-weight: 600;
        background: #ffffff2e;
        padding: 12px;
        border-radius: 24px;
        width: fit-content;
    }

    button {
        width: fit-content;
        height: fit-content;
        padding-left: 4px;
        padding-right: 8px;
        margin-right: 12px;
        font-weight: 600;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        mat-icon {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}