<app-navigation></app-navigation>

<div class="main-container my-list-container">
    <h2>My List</h2>
    @if (showContent) {
        <div class="video-box">
            @for (video of videoList; track video.id) {
                <div class="pos-rel" (click)="openVideoOverview(video)">
                    <img style="width: 300px; height: 142px" src='{{ "http://35.240.85.214" + video.cover_picture }}'>
                    <div class="pos-abs">
                        <p>{{ video.title }}</p>
                        <button mat-fab color="warn">
                            <mat-icon>play_circle</mat-icon>
                        </button>
                    </div>
                </div>
            }
        </div>
    } @else {
        <div class="empty-list">
            My List is empty...
        </div>
    }
</div>
