.my-list-container {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    width: 95vw !important;

    h2 {
        margin-left: 16px;
        font-size: 28px;
        font-weight: 700;
    }

    img {
        border-radius: 24px;
    }

    .mdc-fab {
        width: 32px !important;
        height: 32px !important;
    }

    .video-box {
        display: flex;
        flex-wrap: wrap;
        width: 85vw;
        max-width: 85vw;
        overflow-x: hidden;
    }

    .pos-rel {
        position: relative;
        height: fit-content;
        margin: 12px;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
    
    .pos-abs {
        position: absolute;
        bottom: 12px;
        left: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        p {
            font-size: 18px;
            font-weight: 600;
            margin-right: 8px;
            margin-bottom: 0;
        }
    }

    .empty-list {
        margin-left: 16px;
    }
}