.my-list-container {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    width: 95vw !important;

    @media (max-width: 700px) {
        padding-top: 10vh;
        width: 80vw !important;
    }

    h2 {
        color: var(--beige-bg);
        margin-left: 16px;
        font-size: 28px;
        font-weight: 700;
    }

    img {
        border-radius: 24px;

        @media (max-width: 800px) {
            width: 240px !important;
        }

        @media (max-width: 640px) {
            width: 300px !important;
        }

        @media (max-width: 420px) {
            width: 240px !important;
        }
    }

    .mdc-fab {
        width: 32px !important;
        height: 32px !important;
    }

    .video-box {
        display: flex;
        flex-wrap: wrap;
        width: 85vw;
        max-width: 85vw;
        overflow-x: hidden;

        @media (max-width: 640px) {
            justify-content: center;
        }
    }

    .pos-rel {
        position: relative;
        height: fit-content;
        margin: 12px;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
    
    .pos-abs {
        position: absolute;
        bottom: 12px;
        left: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        p {
            font-size: 18px;
            font-weight: 600;
            margin-right: 8px;
            margin-bottom: 0;
        }
    }

    .empty-list {
        margin-left: 16px;
    }
}