.mr-18 {
    margin-right: 18px;
}

form {
    width: fit-content;
}

.btn-div {
    display: flex;
    justify-content: center;
}

.set-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-profile {
    position: absolute;
    top: 8px;
    left: 200px;

    img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        border-radius: 100%;
    }

    mat-icon {
        font-size: 20px;
    }
}

.settings-content {
    width: 35vw;
    height: inherit;
}

.div-width {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50vw;
    height: 72vh;
    margin-top: 5vh;
}

.settings-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

h2 {
    color: var(--beige-bg);
    font-weight: 700;
    margin-top: 2vh;
}

.settings-content {
    width: 35vw;
    height: inherit;
}