.movies-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.content-box {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.pos-rel {
    position: relative;
    margin: 6px;
    height: fit-content;
}

.pos-abs {
    position: absolute;
    bottom: 12px;
    left: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
        font-size: 18px;
        font-weight: 600;
        margin-right: 8px;
        margin-bottom: 0;
    }
}