<div class="main-container">
    @if (showContent && !error) {
        @if (!showVideoOverview) {
            <div>
                <app-cover-slider [videos]="videos"></app-cover-slider>
                <app-video-tabs [categories]="categories" [videos]="videos" (overviewData)="showVideoOverviewData($event)"></app-video-tabs>
            </div>
        } @else {
            <app-video-overview [overviewData]="videoOverviewData"></app-video-overview>
        }
    } @else {
        <div>
            <h1>Loading...</h1>
        </div>
    }

    @if (error) {
        <div>
            <h1>Please reload the page or try later...</h1>
        </div>
    }
</div>
