<img src="/../assets/img/bg.jpg">

<div class="imprint-box">
    <mat-card class="imprint-card">
        <h2>Imprint</h2>
        <br>
        <p>Anastasiia Ünal<br />
            Schützenstraße 62<br />
            40723 Hilden</p>
        <br>
        <h4><b> Contakt: </b></h4>
        <p>Telefon: +49 15773617534<br />
            E-Mail: contact&#64;anastasiia-uenal.de</p>
        <br>
        <p>Use icons from: <a href="https://icons8.de/icons" target="_blank">icons8.de</a></p>
        <br>
    </mat-card>
    
    <app-footer></app-footer>
</div>
