.info-box {
    position: absolute;
    top: 20vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 800px;

    p {
        font-size: 58px;
        font-weight: 600;
        margin-bottom: 50px;
    }
    
    span {
        font-size: 24px;
        margin-bottom: 30px;
    }

    button {
        min-width: 90px;
        height: fit-content;
        padding-left: 4px;
        padding-right: 8px;
        margin-right: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 24px;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        mat-icon {
            margin-left: 0 !important;
            margin-right: 6px !important;
        }
    }
}

.description-span {
    position: relative;
    margin-bottom: 12px !important;
}

.isCollapsed-btn {
    width: fit-content;
    color: var(--flix-red);
    background: none;
}

.btn-box {
    display: flex;
    margin-top: 24px;
}

.img {
    width: 100vw;
    height: 85vh;
    object-fit: cover;
    opacity: 0.3;
}

.category-div {
    margin-bottom: 32px;

    span {
        font-size: 18px !important;
        padding: 6px;
        border: 1px solid white;
        width: fit-content;
        height: fit-content;
        border-radius: 24px;
        font-weight: 700;
        margin-right: 12px;
    }
}

.collapsed {
    overflow: hidden;
}

.age-span {
    margin-left: 20px;
    border: 1px solid #c91717;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    color: #c91717;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 24px;
}