<img src="/../assets/img/bg.jpg">
<div class="confirm-container">
    <div class="logo-box">
        <h1>Videoflix</h1>
    </div>

    <mat-card class="confirm-card">
        <mat-card-content>
            <div class="confirm-div">
                <p>Invalid confirmation token.</p>
                <p class="mb-28">Please try again.</p>

                <button mat-stroked-button (click)="shared.navigateTo('/register')">Register</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

