<div class="navigation-panel">
    <div class="logo-box">
        <h2>VIDEOFLIX</h2>
    </div>

    <div class="links-box">
        <button mat-button color="warn" [class.border-btn]="urlName === '/videoflix'" (click)="shared.navigateTo('/videoflix')">START</button>
        <button mat-button color="warn" [class.border-btn]="urlName === '/movies'" (click)="shared.navigateTo('/movies')">MOVIES</button>
        <button mat-button color="warn" [class.border-btn]="urlName === '/mylist'" (click)="shared.navigateTo('/mylist')">MY LIST</button>
        <button mat-button color="warn" [class.border-btn]="urlName === '/settings/user' || urlName === '/settings/categories' || urlName === '/settings/uploads'" 
            (click)="shared.navigateTo('/settings/user')">SETTINGS</button>
    </div>

    <div class="user-box">
        <button mat-icon-button [class.border-btn]="urlName === '/upload'" (click)="shared.navigateTo('/upload')" matTooltip="Upload">
            <mat-icon>upload</mat-icon>
        </button>

        <button mat-icon-button [class.border-btn]="urlName === '/movies'" (click)="shared.navigateTo('/movies')" matTooltip="Search">
            <mat-icon>search</mat-icon>
        </button>

        <img src="assets/img/profile.png" [matMenuTriggerFor]="userOptions" class="profile-btn">

        <mat-menu #userOptions="matMenu">
            <button mat-menu-item (click)="logOut()">
                <mat-icon>logout</mat-icon>
                Logout
            </button>
        </mat-menu>
    </div>
</div>
