.navigation-panel {
    width: calc(100vw - 16px);
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #969494;
    color: var(--headers-light);
    background: var(--bg-dark);

    .mat-mdc-button {
        color: white !important;
    }

    .cdk-focused {
        color: var(--flix-red) !important;
    }
}

.active {
    color: var(--flix-red) !important;
}

.logo-box {
    h2 {
        margin: 0;
        color: var(--flix-red);
        font-weight: 700;
    }
}

.links-box {
    display: flex;

    a {
        color: var(--headers-light);
        text-decoration: none;
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: var(--flix-red);  
        }
    }
}

.user-box {
    border-radius: 100%;
    height: 48px;
    display: flex;
    align-items: center;

    button {
        margin-right: 12px;

        &:last-child {
            margin-right: 0;
        }
    }

    .profile-btn {
        width: 48px;
        height: 48px;
        border-radius: 100%;

        &:hover {
            cursor: pointer;  
        }
    }
}