<app-navigation></app-navigation>

<div class="main-container">
    @if (showContent) {
        <div class="pos-rel">
            <img class="img" src='{{ "http://127.0.0.1:8000" + overviewData.cover_picture }}'>
    
            <div class="info-box">
                <p>{{ overviewData.title }}</p>

                <div class="category-div">
                    @for (category of videoCategory; track category) {
                        <span>{{ category }}</span>
                    }
                </div>
            
                <span class="description-span">{{ overviewData.description }}</span>
                <div class="btn-box">
                    <button mat-fab extended style="background: var(--flix-red); color: white" (click)="playVideo()">
                        <mat-icon>play_arrow</mat-icon>
                        Watch
                    </button>
                    @if (!listExist) {
                        <button mat-fab extended style="background: yellow;" matTooltip="My List" (click)="addVideoToMyList()">
                            <mat-icon>add_circle</mat-icon>
                            Add List
                        </button>
                    } @else {
                        <button mat-fab extended style="background: yellow;" matTooltip="My List" (click)="removeVideoFromMyList()">
                            <mat-icon>remove</mat-icon>
                            Remove List
                        </button>
                    }


                    <button mat-fab extended style="background: #5a1eb7; color: white" (click)="openVideoInfo()">
                        <mat-icon>info</mat-icon>
                        Info
                    </button>
                </div>
            </div>
        </div>
    } @else {
        <div class="loading-box">
            <app-loading-spinner></app-loading-spinner>
        </div>
    }
    
</div>
