<img src="/../assets/img/bg.jpg">
<div class="pw-container">
    <div class="logo-box">
        <h1>Videoflix</h1>
    </div>

    <mat-card class="pw-card">
        <h2>Reset Password</h2>
        <mat-card-content>
            <form (ngSubmit)="sendRequestResetPassword()">
                <mat-form-field>
                    <input matInput type="password" [formControl]="newPassword" placeholder="New Password" required
                        matTooltip="1. Can not be too similar to your other personal information.
                        2. Must contain at least 8 characters.
                        3. Can not be a commonly used password.
                        4. Can not be entirely numeric.">
                </mat-form-field>

                <div>
                    <button mat-stroked-button (click)="shared.navigateTo('/login')" class="btn-m-12">Back</button>
                    <button mat-stroked-button (click)="sendRequestResetPassword()" [disabled]="!newPassword.valid">Reset</button>
                </div>
            </form>
            
            @if (error) {
                <p class="error">ERROR: {{ error | json }}</p>
            }
        </mat-card-content>
    </mat-card>
</div>