<img src="/../assets/img/bg.jpg">
<div class="pw-container">
    <div class="logo-box">
        <h1>Videoflix</h1>
    </div>

    <mat-card class="pw-card">
        <h2>Reset Password</h2>
        <mat-card-content>
            <form (ngSubmit)="sendRequestResetPassword()">
                <mat-form-field>
                    <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Neues Passwort" required>
                </mat-form-field>

                <div>
                    <button mat-stroked-button (click)="shared.navigateTo('/login')" class="btn-m-12">Back</button>
                    <button mat-stroked-button type="submit">Reset</button>
                </div>
            </form>
            
            @if (error) {
                <p class="error">ERROR: {{ error | json }}</p>
            }
        </mat-card-content>
    </mat-card>
</div>