/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
  
@include mat.core();

$my-primary: mat.define-palette(mat.$red-palette, 500);
$my-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

:root {
    --bg-dark: #06070D;
    --content-height: calc(100vh - 65px);
    --headers-light: #f6f6ffc9;
    --flix-red: #B00810;
    --beige-bg: #ffdad49e;
}

.main-container {
    height: calc(var(--content-height) - 2vw);
    width: 100vw;
    background: var(--bg-dark);
    color: var(--headers-light);
    padding-top: 2vw;
}

.loading-box {
    // height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
}

.pos-rel {
    position: relative;
}

.mat-mdc-snack-bar-container {
    &.red-snackbar {
      --mdc-snackbar-container-color: var(--flix-red);
      --mdc-snackbar-supporting-text-color: white;
      width: 120px !important;
    }
}

*::-webkit-scrollbar {
    display: block;
    width: 12px;
    height: 10px;
  }
  
  *::-webkit-scrollbar-button {
    display: none;
  }
  
  *::-webkit-scrollbar-track {
    background-color: #8e393d78;
  }
  
  *::-webkit-scrollbar-track-piece {
    background-color: var(--bg-dark);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #8e393d78;
    border-radius: 24px;
  }