/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

:root {
    --bg-dark: #06070D;
    --content-height: calc(100vh - 65px);
    --headers-light: #f6f6ffc9;
    --flix-red: #B00810;
}

.main-container {
    height: calc(var(--content-height) - 2vw);
    width: 100vw;
    background: var(--bg-dark);
    color: var(--headers-light);
    padding-top: 2vw;
}

.pos-rel {
    position: relative;
}