<img src="/../assets/img/bg.jpg">
<div class="confirm-container">
    <div class="logo-box">
        <h1>Videoflix</h1>
    </div>

    <mat-card class="confirm-card">
        <mat-card-content>
            <div class="confirm-div">
                <p>Your email has been confirmed.</p>
                <p class="mb-28">You can now log in.</p>

                <button mat-stroked-button (click)="shared.navigateTo('/login')">Login</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
