<mat-tab-group class="tabs-container" (selectedTabChange)="getTabVideosEvent($event)">
    <mat-tab label="All">
        <div class="content-div">
            <button mat-icon-button class="mr-16" color="warn" (click)="sideScroll('left')">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <div class="video-box" #content>
                @for (video of videos; track video.id) {
                    <div class="pos-rel">
                        <img style="width: 300px; height: 142px" src='{{ "http://127.0.0.1:8000" + video.cover_picture }}'>
                        <div class="pos-abs">
                            <p>{{ video.title }}</p>
                            <button mat-fab color="warn" (click)="openVideoOverview(video)">
                                <mat-icon>play_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                }
            </div>

            <button mat-icon-button class="ml-22" color="warn" (click)="sideScroll('right')">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </mat-tab>

    @for (category of categories; track category.id) {
        <mat-tab label="{{ category.name }}">
            <div class="content-div">
                <button mat-icon-button class="mr-16" color="warn" (click)="sideScroll('left')">
                    <mat-icon>chevron_left</mat-icon>
                </button>

                <div class="video-box" #content>
                    @for (video of tabVideos; track video.id) {
                        <div class="pos-rel">
                            <img style="width: 300px; height: 142px" src='{{ "http://127.0.0.1:8000" + video.cover_picture }}'  >
                            <div class="pos-abs" (click)="openVideoOverview(video)">
                                <p>{{ video.title }}</p>
                                <button mat-fab color="warn">
                                    <mat-icon>play_circle</mat-icon>
                                </button>
                            </div>
                        </div>
                    }
               </div>

                <button mat-icon-button class="ml-22" color="warn" (click)="sideScroll('right')">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </mat-tab>
    }
</mat-tab-group>