<app-navigation></app-navigation>

<div class="main-container movies-container">
    <div class="div-width">
        <app-alphabet-table (updateValue)="showSearchInput($event)"></app-alphabet-table>

        <div class="search-content-box">
            <div class="input-span">
                <input [readonly]="true" type="text" placeholder="Search..." [(ngModel)]="searchValue" matTooltip="use table to search film name">
            </div>

            <div class="content-box">
                @for (video of videoData | searchFilter: searchValue; track video.id) {
                    <div class="pos-rel" (click)="openVideoOverview(video)">
                        <img style="width: 200px; height: 142px" src='{{ "https://anastasiia-backend.developerakademie.net" + video.cover_picture }}'>
                        <div class="pos-abs">
                            <p>{{ video.title }}</p>
                        </div>
                    </div>
                }
            </div>
        </div> 
    </div>
</div>
